{% extends 'base.html' %}

{% block title %}Editar Categoria{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Editar Categoria</h2>
        <form method="POST" class="p-4 border rounded shadow-sm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ categoria.nombre }}" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Actualizar Categoria</button>
        </form>
        <button class="btn btn-primary w-100"><a class="btn btn-primary w-100" href="{% url 'listar_categorias'%}"  >Ir a lista de Categorias</a></button>
    </div>
{% endblock %}


